<div class="container mt-4">
    <h2 class="mb-4">User List</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let header of headers">{{ header | titlecase }}</th>
        </tr>
      </thead>

  <tbody *ngIf="showData">
        <tr *ngFor="let user of users" (click)="onRowClick(user.id)">
          <td *ngFor="let header of headers">
            <input
              type="text"
              [value]="user[header]"
              class="form-control"
              (input)="onEdit(user, header, $event)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  